{% extends 'base.html' %}
{% block title %}О нас - CodeKids{% endblock %}
{% block content %}

<main>
    <section id="about" class="py-20 bg-gray-50">
        <div class="max-w-6xl mx-auto px-4 text-center">
            <h2 class="text-3xl font-semibold mb-12 text-gray-800">О нас</h2>
            <p class="text-lg text-gray-600 mb-8">
                {{ about_info.about_text }}
                <br><br>
                {{ about_info.mission_text }}
            </p>
        </div>
    </section>

    <section id="teachers" class="py-20">
        <div class="max-w-6xl mx-auto px-4 text-center">
            <h3 class="text-3xl font-semibold mb-12 text-gray-800">
                Наши преподаватели
            </h3>
            <div class="max-w-6xl mx-auto px-4">
                {% for teacher in teachers %}
                {% include 'partials/teacher_card.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
