<header class="bg-white shadow-sm sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
        <a href="{% url 'home' %}"><h1 class="text-2xl font-bold text-blue-600">CodeKids</h1></a>
        <nav class="space-x-6 text-sm font-medium">
            <a href="{% url 'contacts' %}" class="text-gray-600 hover:text-blue-600 transition">Контакты</a>

            {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="text-gray-600 hover:text-blue-600 transition">Личный кабинет</a>
            <form method="POST" action="{% url 'logout' %}" class="inline">
                {% csrf_token %}
                <button type="submit"
                        class="text-gray-600 hover:text-blue-600 transition text-sm font-medium bg-transparent p-0 m-0 border-none cursor-pointer">Выход
                </button>
            </form>
            {% if user.is_staff %}
            <a href="/admin" class="text-gray-600 hover:text-blue-600 transition">Админка</a>
            {% endif %}
            {% else %}
            <a href="{% url 'login_form' %}" class="text-gray-600 hover:text-blue-600 transition">Вход</a>
            {% endif %}
        </nav>
    </div>
</header>